.stone-button{
       -fx-background-image: url("/stones/images/stone.png");
       -fx-background-repeat: no-repeat;
       -fx-max-width: 50px;
       -fx-max-height: 30px;
       -fx-background-size: 15px;
       -fx-background-position: center;
       -fx-background-color: yellow;
}